.category-navbar {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: #333;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .navbar-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .navbar-link:hover {
    color: #4caf50;
  }
  